<div class="container">
    <div class="g-conner grid g-func"></div>

    <div class="g-top grid g-func"><img src="assets/up.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>

    <div class="g-left grid g-func"><img src="assets/left.png" class="nav-img"></div>

    <div class="g-middle grid">
        <div class="block-world">
            <% for i in 0..47 do %>
                <div class="block" coor-x= "<%= i%8 %>" coor-y= "<%= i/8 %>" status="blank"></div>
            <% end %>
        </div>
    </div>

    <div class="g-right grid g-func"><img src="assets/right.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>

    <div class="g-bottom grid g-func"><img src="assets/down.png" class="nav-img"></div>

    <div class="g-conner grid g-func"></div>
</div>

<div class = 'templates'>
    <div class = 'nav-block'>
        nav
    </div>
    <div class = 'opt-block'>
        <div class = 'sub-block-1 sub-block'>add</div>
        <div class = 'sub-block-2 sub-block'>edit</div>
        <div class = 'sub-block-3 sub-block'>clear</div>
        <div class = 'sub-block-4 sub-block'>quit</div>
    </div>
    <div class = 'opt-add-block'>
        <div class= 'opt-row'>
            <input class='title' placeholder = 'title'>
        </div>
        <div class= 'opt-row'>
            img<input class='img' type='file' name = 'img'>
        </div>
        <div class= 'opt-row'>
            <a class='submit' href='#'> ~>submit</a>
        </div>
    </div>
    <div class = 'opt-add-form'>
        <%= form_for :block, :url => "/create" do |f| %>
          <%= f.label :title, "title" %>
          <%= f.text_field :title %>
          <br>
          <%= f.label :img, "img" %>
          <%= f.file_field :img %> 
          <%= f.submit :value=> "submit", :class => "button" %>
          <%= f.text_field :coorX , :class => "ghost coorx" %>
          <%= f.text_field :coorY , :class => "ghost coory" %>
        <% end %>
    </div>
</div>