<div class="container">
    <div class= 'editor-form' style="display: none">
        <%= form_for :block, :url => "/block_form_update" do |f| %>
            <%= f.kindeditor :body, :simple_mode => true %>
            <%= f.text_field :coorX, :class => 'invisible cx' %>
            <%= f.text_field :coorY, :class => 'invisible cy' %>
            <%= f.text_field :id, :class => 'invisible id' %>
        <% end %>
        <div class ='edit-opt submit'>submit</div>
        <div class ='edit-opt clear'>clear</div>
        <div class ='edit-opt back'>back</div>
    </div>

    <div class="block-container"></div>

    <div class= 'nav'>
      <div class= 'nav-btn up'></div>
      <div class= 'nav-btn right'></div>
      <div class= 'nav-btn down'></div>
      <div class= 'nav-btn left'></div>
    </div>
</div>


<!--template element and invisible form-->
<div class='ghost-form' style='display: none'>
  <div class='id-input'>
    <input id="block_id" name="block[id]" type="text">
  </div>
</div>

<div class='templates' style='display: none'>
  <!--block template-->
  <div class="block" coor-x="" coor-y="" status="blank"></div>
</div>